<%= turbo_stream_from "uos" %>

<main>
  
  <div class="row">
    <div class="col-md-6 mx-auto shadow-sm">

      <div class="header p-3">
        <%= link_to "New Unidade Orçamentária", new_uo_path, data: { turbo_frame: dom_id(Uo.new) } %>
      </div>
      
      <%= turbo_frame_tag Uo.new %>
      <%= turbo_frame_tag "uos" do %>
        <%= render @uos %>
      <% end %>

    </div>
  </div>
  
</main>

