<%= turbo_frame_tag entry do %>
  <div class="row mt-1">
    <!-- Primeira coluna: ID -->
    <div class="col-md-1">
      <p>ID <%= entry.id.to_s.rjust(2, '0') %></p>
    </div>

    <!-- Segunda coluna: Número da entrada e total -->
    <div class="col-md-3">
      <%= link_to "Número #{entry.number}", entry_path(entry), data: {turbo_frame: "_top"}, class: "mb-0" %>
    </div>

    <!-- Terceira coluna: Placeholder para outra informação, se necessário -->
    <div class="col-md-2">
        <p class="text-secondary">Total R$ <%= entry.total %></p>
    </div>

    <div class="col-md-2">
        <p class="text-secondary">Data <%= entry.date_entry %></p>
    </div>

    <div class="col-md-3">
      <% if entry.entry_items.sum('quantity * unit_price') == entry.total %>
          <p class="text-success ">• Finalizada</p>
      <% else %>
          <p class="text-danger ">• Aberta</p>
      <% end %>
    </div>

    <!-- Quarta coluna: Dropdown -->
    <div class="col-md-1">
      <div class="dropdown">
        <button class="btn btn-sm text-uppercase" type="button" id="dropdownMenuButton<%= entry.id %>" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
          </svg>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= entry.id %>">
          <li>
            <%= button_to entry_path(entry), method: :delete, data: { turbo_frame: "_top" }, class: "dropdown-item" do %>
              Delete
            <% end %>
          </li>
          <li>
            <%= link_to "Edit", edit_entry_path(entry), class: "dropdown-item" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
