<main >
  <%= link_to "← Back to entries", entries_path %>
  <p class="fs-4 mt-5">Número <%= @entry.number %></p>

  <div class="row mt-5">
    <div class="col-md-8 border-end pe-5">
      <div class="header mb-5">
        <p>Lista de todos os Itens</p>
        <%= link_to "New Item", new_entry_entry_item_path(@entry), data: { turbo_frame: dom_id(EntryItem.new) } %>
      </div>

      <%= turbo_stream_from "entry_items" %>

        <%= turbo_frame_tag EntryItem.new %>
      
      
        <%= turbo_frame_tag "entry_items" do %>
          <%= render @entry_items %>
        <% end %>
    </div>

    <div class="col-md-4 ps-5">
      <p class="border-bottom fs-5">TOTAL dos items</p>
    </div>
  </div>
</main>
