<%= turbo_stream_from "groups" %>

<main>
  
  <div class="header mb-5">
    <p class="fs-2">Grupos</p>
    <%= link_to "New Grupo", new_group_path, data: { turbo_frame: dom_id(Group.new) } %>
  </div>

  <div class="row">
    <div class="col-md-9 mx-auto">

      <%= turbo_frame_tag Group.new %>
      <%= turbo_frame_tag "groups" do %>
        <%= render @groups %>
      <% end %>
      
    </div>
  </div>
  
</main>