<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-5">
    <a class="navbar-brand" href="#">AO | + 85 9881-6975</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= root_path %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= uos_path %>">Unidades Orç.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= pas_path %>">Projetos Atv.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= units_path %>">Unidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= groups_path %>">Grupos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= people_path %>">Pessoas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= items_path %>">Items de Despesa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= entries_path %>">Entradas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>