<%= form_with(model: pa) do |form| %>
  <% if pa.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pa.errors.count, "error") %> prohibited this pa from being saved:</h2>

      <ul>
        <% pa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :objective, style: "display: block" %>
    <%= form.text_field :objective %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :uo_id, style: "display: block" %>
    <%= form.text_field :uo_id %>
  </div>

  <div>
    <%= form.label :horizon, style: "display: block" %>
    <%= form.text_field :horizon %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
