<%= form_with(model: [@entry, entry_item]) do |form| %>
  <% if entry_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entry_item.errors.count, "error") %> prohibited this entry_item from being saved:</h2>

      <ul>
        <% entry_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%# form.label :entry_id, style: "display: block" %>
    <%= form.hidden_field :entry_id, value: @entry.id %>
  </div>

  <div>
    <%= form.label :item_id, style: "display: block" %>
    <%= form.text_field :item_id %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :unit_price, style: "display: block" %>
    <%= form.text_field :unit_price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
