<p style="color: green"><%= notice %></p>

<%= render @entry_item %>

<div>
  <%= link_to "Edit this entry item", edit_entry_item_path(@entry_item) %> |
  <%= link_to "Back to entry items", entry_items_path %>

  <%= button_to "Destroy this entry item", @entry_item, method: :delete %>
</div>
